node_modules
package-lock.json

**/*.log

**/*.js
**/*.d.ts
**/*.map

!packages/alfa-unicode/src/characters.js
!packages/alfa-unicode/src/characters.js.map
!packages/alfa-unicode/src/characters.d.ts

!**/scripts/**/*.js
!**/types/**/*.d.ts

.vscode
