node_modules

**/*.log
**/*.tsbuildinfo

**/*.cjs
**/*.js
**/*.d.cts
**/*.d.ts
**/*.map

!**/types/**/*.d.ts

!**/docs/coverage/**/*.js

# yarn ignores
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/plugins/*.cjs
!.yarn/releases
# Prevent yarn releases to be ignored by earlier filter
!.yarn/releases/*.cjs
!.yarn/sdks
!.yarn/versions
