name: Create a new release

on:
  # WARNING! This workflow will push back to main and trigger other workflows.
  # WARNING! Only use manual trigger to avoid creating infinite workflow loops.
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    name: Release
    uses: siteimprove/alfa/.github/workflows/alfa-release.yml@main
    with:
      # See https://api.github.com/users/siteimprove-builduser
      user-name: siteimprove-builduser
      user-email: 8577410+siteimprove-builduser@users.noreply.github.com
      generate-documentation: true
      npm-publish: true
    secrets:
      token: ${{ secrets.A11Y_PUBLIC_GITHUB_TOKEN }}
      npm-token: ${{ secrets.NPM_TOKEN }}
