name: Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 21 * * 1"
  merge_group:
    types: [checks_requested]

concurrency:
  group: scan-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: read
  security-events: write

jobs:
  analyze:
    name: Analyze (${{ matrix.language }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - language: javascript-typescript
          - language: actions

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}
          config-file: .github/codeql/config.yml
          build-mode: none

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
